html,body,img {
        width:auto;
        height:100%;
        text-align:center;
        padding:0;
        margin:0;
}
@-webkit-keyframes cristian {
  0% { -webkit-filter:invert(0%) hue-rotate(0deg); margin:50px 0 0 0; }
  25% { -webkit-filter:invert(0%)  hue-rotate(90deg); margin:0 50px 0 0; }
  50% { -webkit-filter:invert(100%) hue-rotate(180deg); margin:0 0 50px 0; }
  75% { -webkit-filter:invert(0%) hue-rotate(270deg); margin:0 0 0 50px; }
  100% { -webkit-filter:invert(0%) hue-rotate(360deg); margin:50px 0 0 0; }
}
@-moz-keyframes cristian {
  0% { filter:invert(0%) hue-rotate(0deg); margin:50px 0 0 0; }
  25% { filter:invert(0%) hue-rotate(90deg); margin:0 50px 0 0; }
  50% { filter:invert(100%) hue-rotate(180deg); margin:0 0 50px 0; }
  75% { filter:invert(0%) hue-rotate(270deg); margin:0 0 0 50px; }
  100% { filter:invert(0%) hue-rotate(3600deg); margin:50px 0 0 0; }
}
@keyframes cristian {
  0% { filter:invert(0%) hue-rotate(0deg); margin:50px 0 0 0; }
  25% { filter:invert(0%) hue-rotate(90deg); margin:0 50px 0 0; }
  50% { filter:invert(100%) hue-rotate(180deg); margin:0 0 50px 0; }
  75% { filter:invert(0%) hue-rotate(270deg); margin:0 0 0 50px; }
  100% { filter:invert(0%) hue-rotate(3600deg); margin:50px 0 0 0; }
}

img {
  -webkit-animation: cristian 0.1s infinite;
  -moz-animation: cristian 0.1s infinite;
  animation: cristian 0.1s infinite;
}
